.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

  user-select: none; /* Disables text selection */
  cursor: default;   /* Disables pointer cursor */

}



.modalText
{
	
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

	
}

/* Modal Content */
.modal-contentText 
{
	word-break: break-word;
	background-color: white;
	padding: 20px;
	border: 1px solid #888;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Modal Content */
.modal-content
{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid white;
  width: 60px;
  height: 60px;
  -webkit-animation: spinGlow 2s linear infinite;
  animation: spinGlow 2s linear infinite;
  filter: drop-shadow(0px 0px 10px #fa0044);
}

@-webkit-keyframes spinGlow 
{
    0% { -webkit-transform: rotate(0deg); -webkit-filter: drop-shadow(0px 0px 10px #fa0300);  }
	20% { -webkit-transform: rotate(72deg); -webkit-filter: drop-shadow(0px 0px 10px #fadf00);  }
	40% { -webkit-transform: rotate(144deg); -webkit-filter: drop-shadow(0px 0px 10px #66fa00);  }
	60% { -webkit-transform: rotate(216deg); -webkit-filter: drop-shadow(0px 0px 10px #00fad1);  }
	80% { -webkit-transform: rotate(288deg); -webkit-filter: drop-shadow(0px 0px 10px #0039fa);  }
    100% { -webkit-transform: rotate(360deg); -webkit-filter: drop-shadow(0px 0px 10px #fa0300); }
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}